:root {
  --hue: 120; /* Green */
  --background: black;
  --background-2: #181818;
  --text-color: MediumSpringGreen;
  --FF: "Lucida Console", "Courier New", monospace;
  font-size: 2em; 
}

html {
  font-family: var(--FF);
  background-color: var(--background);
  color: var(--text-color);
}

body {
  color: var(--text-color);
}

label {
  color: var(--text-color);
}

.form_label {
  color: var(--text-color);
}

input {
}

input[type=text] {
  width: 100%;
  background-color: var(--background-2);
  color: var(--text-color);
  border: 1px solid green;
  border-radius: 2px;
  outline: none;
  padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;
}

input[type=text]:focus {
  outline: none;
  background-color: var(--background-2);
  color: var(--text-color);
}

input[type = password] {
  width: 100%;
  background-color: var(--background-2);
  color: var(--text-color);
  outline: none;
  border: 1px solid green;
  border-radius: 1px;
  margin: 2px 2px;
  padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;
}

input[type = submit] {
  font-family: var(--FF);
  width: 100%;
  background-color: var(--background-2);
  color: var(--text-color);
  border: none;
  padding: 14px 20px;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 4px;
}

input[type = submit]:hover {
  border: 1px solid green;
  background-color: var(--background-2);
}

a {
  color: inherit;
}

#login {
  width: 60vw;
  width: 60vh;
  margin: 20vh auto;
  border: 1px solid green;
  border-radius: 5px;
  padding: 10px;
}

.grid-container {
  background-color: #202020;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  margin-top: 10px;
}

.grid-item {
  background-color: var(--background-2);
  color: var(--text-color);
  float: left;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.button-grid-item {
  width: 100%;
  font-family: var(--FF);
  background-color: var(--background-2);
  color: var(--text-color);
  margin: 0px;
  padding: 0px;
  text-align: center;
  cursor: pointer;
}

.grid-item:hover {
  cursor: pointer;
  border: 1px solid var(--text-color);
}

.menu {
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.menu:hover {
  background-color: inherit;
  color: inherit;
}

button {
  background-color: inherit;
  border: none;
}

.ul-top-menu {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 95%;
  background: var(--background-2);
  margin: 5px;
  padding: 5px;
  font-size: 1em;
}

.li-top-menu {
  display: block;
  flex: 0 1 auto;
  list-style-type: none;
}

.recharge-div {
  width: 80%;
  margin-left: 10%;
  background: var(--background-2);
}

