:root {
  --hue: 120; /* Green */
  /* --background: black; */
  --background: #202020;
  --background-page: #4D5D53;
  --background-login: black;
  --background-2: #181818;
  --text-color: MediumSpringGreen;
  --error-text-color: Crimson;
  --FF: "Lucida Console", "Courier New", monospace;
  --superscript-color: DarkCyan;
  font-size: 2em; 
}

html {
  font-family: var(--FF);
  background-color: var(--background);
  color: var(--text-color);
}

body {
  color: var(--text-color);
}

label {
  color: var(--text-color);
}

.form_label {
  color: var(--text-color);
}

sup {
   color: var(--superscript-color);
   font-size: smaller;
}

table, th, td {
   border: 1px solid var(--text-color);
   align: center;
}

input {
}

input[type=text] {
  width: 100%;
  background-color: var(--background-2);
  color: var(--text-color);
  border: 1px solid green;
  border-radius: 2px;
  outline: none;
  padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;
}

input[type=text]:focus {
  outline: none;
  background-color: var(--background-2);
  color: var(--text-color);
}

input[type = password] {
  width: 100%;
  background-color: var(--background-2);
  color: var(--text-color);
  outline: none;
  border: 1px solid green;
  border-radius: 1px;
  margin: 2px 2px;
  padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;
}

input[type = submit] {
  font-family: var(--FF);
  width: 100%;
  background-color: var(--background-2);
  color: var(--text-color);
  border: none;
  padding: 14px 20px;
  margin: 20px 0;
  cursor: pointer;
  border-radius: 4px;
}

input[type = submit]:hover {
  border: 1px solid green;
  background-color: var(--background-2);
}

a {
  color: inherit;
}

#login {
  background: var(--background-login);
  width: 60vw;
  width: 60vh;
  margin: 20vh auto;
  border: 0px solid green;
  border-radius: 10px;
  padding: 10px;
  font-size: 0.75em;
}

input[type=submit].ir-sign-in {
   background: var(--text-color); 
   color: var(--background-login);
   width: 40%;
   text-align: center;
   margin-left: 30%;
   font-size: 0.5em;
   font-weight: bold;
}

input[type=submit].ir-sign-in:hover {
   background: var(--background-login);
   color: var(--text-color);
   border: 1px solid var(--text-color);
}

form.ir-form-login {
   padding: 12px;
}

.grid-container {
  background-color: #202020;
  color: var(--text-color);
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  margin-top: 10px;
}

.grid-item {
  background-color: var(--background-2);
  color: var(--text-color);
  float: left;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.button-grid-item {
  width: 100%;
  font-family: var(--FF);
  background-color: var(--background-2);
  color: var(--text-color);
  margin: 0px;
  padding: 0px;
  text-align: center;
  cursor: pointer;
}

.grid-item:hover {
  cursor: pointer;
  border: 1px solid var(--text-color);
}

.menu {
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.menu:hover {
  background-color: inherit;
  color: inherit;
}

button {
  background-color: inherit;
  border: none;
}

.ul-top-menu {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 95%;
  background: var(--background-2);
  margin: 5px;
  padding: 5px;
  font-size: 1em;
}

.li-top-menu {
  display: block;
  flex: 0 1 auto;
  list-style-type: none;
}

.recharge-div {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  background: var(--background-2);
}

.razorpay_button {
   background-color: red;
   color: white;
}

#table_invite {
   border: 1px solid var(--text-color);
}

#div_signup {
   width: 80%;
   margin-left: 10%;
}

#div_form_fullname {
   width: 80%;
   margin-left: 10%;
}

#div_form {
   width: 80%;
   margin-left: 10%;
}

#div_status {
   width: 80%;
   margin-top: 20px;
   margin-bottom: 20px;
   margin-left: 10%;
   color: var(--error-text-color);
   border: 1px solid var(--error-text-color);
   padding: 0px;
}

#p_error {
   padding: 0px;
   text-align: center;
}

#p_pass {
   color: var(--text-color);
   padding: 0px;
   text-align: center;
}
